.App {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  height: 100dvh;
  width: 100dvw;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
  border-radius: 5px;
}