@import url('https://fonts.googleapis.com/css?family=Nunito');

.ssn-container {
    background: rgba(243, 246, 254, 0.89);
    border-radius: 32.58px;
    font-size: 35px;

    position: absolute;
    top: 1%;
    right: 1%;
    width: 20%;
}

.img-container {
    position: absolute;
    top: 5px;
    width: 400px;
    height: 400px;
    border-radius: 50%;

    background: #D6E4FF;
}

.img-container img {
    position: absolute;

    top: 10%;
    left: 10%;

    width: 80%;
    height: 80%;
}

.name-container {
    position: absolute;
    font-weight: 700;
    font-size: 30px;
    top: 43%;
}