.page {
      background-color: #9CBFF5;
      position: absolute;
      right: 0;
      width: 82%;
      height: 100%;
}

.board {
      width: 95%;
      height: 95%;
      background-color: #EDEDED;
      border: 1px solid black;
      border-radius: 20px;
}

.button {
      background-color: #4E7EF8;
      color: white;
      border: none;
      border-radius: 10px;
      height: 40px;
      width: 100px;
      font-size: 18px;
}

.button:active {
      background-color: #8bacff;
}

.back {
      background-color: #BFBFBF;
      border: none;
      border-radius: 10px;
      height: 40px;
      width: 150px;
      font-size: 16px;
}

.back:active {
      background-color: #a2a1a1;
}

.action>* {
      text-decoration: none;
      color: white;
      background-color: #4E7EF8;
}

.action>*:hover {
      color: white;
}

.action>*:active {
      color: rgb(0, 21, 255);
}

.action {
      background-color: #4E7EF8;
      border: none;
      border-radius: 10px;
}

.delete {
      background-color: red;
      border: none;
      border-radius: 10px;
}

.delete,
.delete:hover {
      text-decoration: none;
      color: white;
      background-color: red;
}

.delete:active {
      color: rgb(255, 150, 150);
}

.addStudent {
      width: 20%;
      height: 20%;
      position: absolute;
      border: 1px solid black;
      border-radius: 20px;
      background-color: #BFBFBF;
      display: none;
}

.deactivateclass {
      width: 30%;
      height: 20%;
      position: absolute;
      border: 1px solid black;
      border-radius: 20px;
      background-color: #BFBFBF;
      display: none;
}

.okay {
      font-size: 1.5rem;
      background-color: #4E7EF8;
      color: white;
      border-radius: 10px;
      border: 1px solid black;
      width: 100px;
}

.okay:active {
      background-color: #96b2f8;
}

.deactivate {
      font-size: 1.5rem;
      color: white;
      background-color: red;
      width: 100px;
      border-radius: 10px;
      border: 1px solid black;
}

.deactivate:active {
      background-color: rgb(255, 150, 150);
}

@media only screen and (max-width:1200px) {
      .page {
            margin-left: 200px;
            width: calc(100% - 200px);
      }
}