@import url('https://fonts.googleapis.com/css?family=Nunito');

.pageName-container{
    width: 100%;
    height: 6%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pageName-container:hover{
    width: 100%;
    background-color: #EFE9FF;
    cursor: pointer;
}

.pageName-container a{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 35%;
    font-family: 'Nunito';
    font-size: 22px;
    color: #84828A;
    text-decoration: none;    
    text-align: left;
    display: flex;
    align-items: center;
}

.pageName-container:hover a{
    color: #0083FD;
    font-weight: bold;
}

.icon{
    position: absolute;
    left: 20%;
    width: 55px;
    height: 55px;
}

.icon-line{
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.pageName-container.active .icon-line{
    fill: #0083FD;
    stroke: #0083FD;
}

.pageName-container:hover .icon-line{
    fill: #0083FD;
    stroke: #0083FD;
}

.pageName-container.active{
    width: 100%;

    font-weight: bold;
    background-color: #EFE9FF;
    color: #0083FD;
}

.pageName-container.active a{
    color: #0083FD;
}
sgv{
    position: absolute;
    left: 10%;
    background-color: red;
}