.ouput-container{
    background: rgba(243, 246, 254, 0.89);
    border-radius: 32.58px;
    border: 1px black solid;
    font-size: 35px;

    width: 80%;
    left: 10%;
    margin-top: 10px;
    font-family: 'Nunito';

    height: 35%;
}

.ouput-container .chart{
    height: 100%;
    width: 30%;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart p{
    position: relative;
    bottom: -15px;
}

#stats p{
    margin-top: 10px;
    position: relative;
    right: 70%;
    text-align: right;

    font-weight: 600;
}

#lineChart{
    width: 96%;
    left: 2%;
}

.frequent_container{
    display: flex;
    flex-direction: row;

    width: 300px;
    height: 40px;

    position: relative;
    top : 2%;
    left: -35%;
}

.frequent_container button{
    text-align: center;
    margin-left: 15px;
    border-radius: 11px;
    border: 2px solid black;
}

.chart_name{
    cursor: pointer;
}

.chart_name.active{
    font-weight: 900;
}