.customModal,
.confirmModal {
      max-width: 95% !important;
}

.confirmModal {
      padding-top: 30vh !important;
      padding-top: 30dvh !important;
}

.dialog {
      max-width: 100% !important;
      max-height: 75% !important;
}

.search {
      font-size: 1.2rem;
      margin-top: 5px;
      margin-left: 4px;
}

.hover:hover {
      cursor: pointer;
}

@media only screen and (min-width: 768px) {

      .customModal,
      .confirmModal {
            max-width: 75% !important;
      }
}

@media only screen and (max-height:450px) {

      .confirmModal,
      .customModal {
            padding-top: 0vh !important;
            padding-top: 0dvh !important;
      }

      .dialog {
            min-height: 120% !important;
            max-height: 120% !important;
      }
}