.back {
      font-size: 1.2rem;
      color: blue;
}

.back:hover {
      cursor: pointer;
}

.hover:hover {
      cursor: pointer;
}

.search {
      font-size: 1.2rem;
      margin-top: 5px;
      margin-left: 4px;
}

.searchInput {
      max-width: 150px;
}